body {
  font-family: sans-serif;
  background: #85baa1;

}

form {
  border: 1px solid black;
  padding: 10px;
  margin: 10%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ceeddb;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3e8e41;
}

input,
select {
  width: 200px;
  padding: 3px 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 1px;
}

input:hover,
select:hover {
  border: 1px solid #144fe6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.499);
}

#warning-box {
  color: red;
  font-size: 15px;
  margin-bottom: 15px;
}

.warning {
  color: red;
  font-weight: 12px;
}

.active {
  background-color: #163c18;
}